wildfire_prediction_pipeline/input_images/.DS_Store
wildfire_prediction_pipeline/.DS_Store
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/.DS_Store
wildfire_prediction_pipeline/input_images/wildfire_test_set/.DS_Store
wildfire_prediction_pipeline/input_images/mountain_test_set/00000000.jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000001_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000001.jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000002_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000002_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000005_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000009_(7).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000013_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000019_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000021_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000026_(7).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000031_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000038_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000040_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000043_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000043_(7).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000060_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000087_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000088_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000089_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000090_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000091_(3).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000092_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000125_(6).jpg
wildfire_prediction_pipeline/input_images/mountain_test_set/00000126_(3).jpg
wildfire_prediction_pipeline/input_images/wildfire_test_set/002_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/010_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/014_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/024_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/032_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/034_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/038_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/040_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/047_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/055_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/059_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/060_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/063_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/066_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/075_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/077_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/085_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/087_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/089_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/090_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/104_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/107_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/108_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/109_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_test_set/117_rgb.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00177.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00186.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00188.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00189.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00190.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00191.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00192.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00193.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00194.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00195.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00196.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00197.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00198.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00199.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00200.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00201.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00202.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00203.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00204.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00205.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00206.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00207.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00208.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00209.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00210.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00211.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00212.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00213.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00214.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00215.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00216.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00217.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00218.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00219.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00220.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00221.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00222.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00223.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00224.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00225.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00226.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00227.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00228.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00229.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00230.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00231.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00232.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00233.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00234.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00235.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00236.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00237.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00238.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00239.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_day00240.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00030.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00146.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00147.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00148.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00150.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00151.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00152.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00153.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00154.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00155.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00156.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00157.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00158.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00159.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00160.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00161.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00162.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00163.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00164.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00165.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00166.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00167.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00168.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00169.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00170.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00171.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00172.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00173.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00174.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00175.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00176.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00177.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00178.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00179.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00180.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00181.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00182.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00183.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00184.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00185.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00186.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00187.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00188.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00189.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00190.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00191.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00192.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00193.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00194.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00195.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00196.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00197.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00198.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00199.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00200.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00201.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00202.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00203.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00204.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00205.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00206.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00207.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00208.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00209.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00210.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00211.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00212.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00213.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00214.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00215.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00216.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00217.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00218.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00219.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00220.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00221.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00222.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00223.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00224.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00225.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00226.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00227.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00228.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00229.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00230.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00231.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00232.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00233.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00234.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00235.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00236.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00237.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00238.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00239.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00240.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00241.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00242.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00243.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00244.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00245.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00246.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00247.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00248.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00249.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00250.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00251.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00252.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00253.png
wildfire_prediction_pipeline/input_images/wildfire_train_set - Unprocessed/heavy_smoke_morning00254.png
.DS_Store
.DS_Store
.DS_Store
.DS_Store
wildfire_prediction_pipeline/artifacts/test_images_pkl.pkl
wildfire_prediction_pipeline/artifacts/train_images_pkl.pkl
